@{
    ViewBag.Title = "Knjizara";
}

<!DOCTYPE html>
<link href="~/Content/Knjizara.css" rel="stylesheet" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Knjizara</title>
</head>
<body>
    <h1 class="page-header text-center">Dobro dosli</h1>
    <div class="panel panel-primary">
        <div class="panel-heading">Izaberite opciju</div>
        <div class="panel-body">
            <table class="table table-condensed table-hover">
                <tbody>
                    <tr>
                        <td>@Html.ActionLink("Knjige", "KnjigeView", "Home")</td>
                    </tr>
                    <tr>
                        <td>@Html.ActionLink("Registracija korisnika", "Registracija", "RegistracijaPrijavaOdjava")</td>
                    </tr>
                    <tr>
                        <td>@Html.ActionLink("Prijava korisnika", "Prijava", "RegistracijaPrijavaOdjava")</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>